workflows/02-newsletter-aggregator/workflow.json
{
  "name": "02 — Newsletter Aggregator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "a2b3c4d5-0002-4002-8002-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://www.ninja.it/feed/"
      },
      "id": "a2b3c4d5-0002-4002-8002-000000000002",
      "name": "RSS Ninja Marketing",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 160]
    },
    {
      "parameters": {
        "url": "https://blog.hubspot.com/marketing/rss.xml"
      },
      "id": "a2b3c4d5-0002-4002-8002-000000000003",
      "name": "RSS HubSpot Marketing",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "https://venturebeat.com/category/ai/feed/"
      },
      "id": "a2b3c4d5-0002-4002-8002-000000000004",
      "name": "RSS VentureBeat AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 440]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "a2b3c4d5-0002-4002-8002-000000000005",
      "name": "Merge Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);\n\nconst filtered = items.filter(function(item) {\n  const d = new Date(item.json.isoDate || item.json.pubDate || '');\n  return !isNaN(d) && d >= sevenDaysAgo;\n});\n\nif (filtered.length === 0) throw new Error('Nessun articolo negli ultimi 7 giorni. Controlla i feed o allarga la finestra nel codice.');\n\nconst sorted = filtered\n  .sort(function(a, b) {\n    return new Date(b.json.isoDate || b.json.pubDate) - new Date(a.json.isoDate || a.json.pubDate);\n  })\n  .slice(0, 20);\n\nreturn sorted.map(function(item) {\n  var hostname;\n  try { hostname = new URL(item.json.link).hostname; } catch(e) { hostname = ''; }\n  return {\n    json: {\n      titolo: item.json.title || '',\n      link: item.json.link || '',\n      fonte: hostname,\n      data: new Date(item.json.isoDate || item.json.pubDate).toLocaleDateString('it-IT'),\n      snippet: String(item.json.contentSnippet || item.json.content || '').replace(/<[^>]*>/g, '').slice(0, 300)\n    }\n  };\n});"
      },
      "id": "a2b3c4d5-0002-4002-8002-000000000006",
      "name": "Filtra Articoli",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst lista = items.map(function(item, i) {\n  return (i + 1) + '. [' + item.json.fonte + '] ' + item.json.titolo\n    + '\\n   Data: ' + item.json.data\n    + '\\n   Link: ' + item.json.link\n    + '\\n   Anteprima: ' + item.json.snippet;\n}).join('\\n\\n');\n\nconst lines = [\n  'Sei un esperto editor di newsletter su Marketing e AI per professionisti italiani.',\n  '',\n  'Hai ' + items.length + ' articoli delle ultime settimane. Seleziona i 5 piu interessanti e rilevanti per un pubblico di marketing manager e imprenditori italiani. Crea un digest settimanale professionale.',\n  '',\n  'ARTICOLI DISPONIBILI:',\n  lista,\n  '',\n  'Rispondi SOLO con JSON valido (nessun markdown, nessun testo extra):',\n  '{',\n  '  \"titolo_newsletter\": \"<titolo accattivante per questa settimana>\",',\n  '  \"intro\": \"<2-3 righe introduttive, tono professionale ma diretto>\",',\n  '  \"articoli\": [',\n  '    {',\n  '      \"titolo_originale\": \"<titolo originale>\",',\n  '      \"link\": \"<url originale>\",',\n  '      \"fonte\": \"<dominio>\",',\n  '      \"titolo_editoriale\": \"<titolo riscritto in italiano, piu coinvolgente>\",',\n  '      \"riassunto\": \"<3-4 frasi: cosa dice e perche e rilevante per marketer italiani>\",',\n  '      \"tag\": \"<AI|Marketing|Business|Tools|Strategy>\"',\n  '    }',\n  '  ],',\n  '  \"chiusura\": \"<1-2 righe di chiusura, tono familiare>\"',\n  '}'\n].join('\\n');\n\nreturn [{ json: { _claude_body: {\n  model: 'claude-sonnet-4-5',\n  max_tokens: 2048,\n  messages: [{ role: 'user', content: lines }]\n} } }];"
      },
      "id": "a2b3c4d5-0002-4002-8002-000000000007",
      "name": "Prepara Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._claude_body }}",
        "options": {}
      },
      "id": "a2b3c4d5-0002-4002-8002-000000000008",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text.trim();\n\nconst m = text.match(/\\{[\\s\\S]*\\}/);\nif (!m) throw new Error('Nessun JSON trovato: ' + text.slice(0, 200));\n\nlet d;\ntry { d = JSON.parse(m[0]); }\ncatch(e) { throw new Error('JSON non parsabile'); }\n\nconst oggi = new Date().toLocaleDateString('it-IT', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst articoliHtml = d.articoli.map(function(a) {\n  return '<div style=\"margin-bottom:24px;padding-bottom:24px;border-bottom:1px solid #e8e8e8\">'\n    + '<p style=\"font-size:11px;color:#888;margin:0 0 4px;font-family:sans-serif\"><strong>' + a.tag + '</strong> &middot; ' + a.fonte + '</p>'\n    + '<h2 style=\"margin:0 0 8px;font-size:18px;line-height:1.3\"><a href=\"' + a.link + '\" style=\"color:#111;text-decoration:none\">' + a.titolo_editoriale + '</a></h2>'\n    + '<p style=\"margin:0 0 10px;color:#444;font-size:14px;line-height:1.7\">' + a.riassunto + '</p>'\n    + '<a href=\"' + a.link + '\" style=\"font-size:13px;color:#0055cc;font-family:sans-serif\">Leggi &rarr;</a>'\n    + '</div>';\n}).join('');\n\nconst html = '<!DOCTYPE html><html lang=\"it\"><body style=\"font-family:Georgia,serif;max-width:620px;margin:0 auto;padding:28px 24px;color:#111\">'\n  + '<p style=\"color:#999;font-size:12px;margin:0 0 6px;font-family:sans-serif;text-transform:uppercase;letter-spacing:1px\">Digest settimanale &middot; ' + oggi + '</p>'\n  + '<h1 style=\"font-size:26px;margin:0 0 18px;line-height:1.3\">' + d.titolo_newsletter + '</h1>'\n  + '<p style=\"font-size:15px;line-height:1.75;color:#333;border-left:3px solid #0055cc;padding:2px 0 2px 14px;margin:0 0 28px\">' + d.intro + '</p>'\n  + '<hr style=\"border:none;border-top:1px solid #e8e8e8;margin:0 0 28px\">'\n  + articoliHtml\n  + '<p style=\"font-size:14px;color:#666;font-style:italic;margin:28px 0 0\">' + d.chiusura + '</p>'\n  + '<hr style=\"border:none;border-top:1px solid #e8e8e8;margin:24px 0 14px\">'\n  + '<p style=\"font-size:11px;color:#bbb;font-family:sans-serif;margin:0\">Generato automaticamente &middot; n8n + Claude Sonnet</p>'\n  + '</body></html>';\n\nreturn [{ json: { subject: d.titolo_newsletter, html: html } }];"
      },
      "id": "a2b3c4d5-0002-4002-8002-000000000009",
      "name": "Genera Newsletter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "fromEmail": "tuamail@tuaazienda.it",
        "toEmail": "tuamail@tuaazienda.it",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "a2b3c4d5-0002-4002-8002-000000000010",
      "name": "Invia Newsletter",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1920, 300],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {"node": "RSS Ninja Marketing", "type": "main", "index": 0},
          {"node": "RSS HubSpot Marketing", "type": "main", "index": 0},
          {"node": "RSS VentureBeat AI", "type": "main", "index": 0}
        ]
      ]
    },
    "RSS Ninja Marketing": {
      "main": [[{"node": "Merge Feeds", "type": "main", "index": 0}]]
    },
    "RSS HubSpot Marketing": {
      "main": [[{"node": "Merge Feeds", "type": "main", "index": 1}]]
    },
    "RSS VentureBeat AI": {
      "main": [[{"node": "Merge Feeds", "type": "main", "index": 2}]]
    },
    "Merge Feeds": {
      "main": [[{"node": "Filtra Articoli", "type": "main", "index": 0}]]
    },
    "Filtra Articoli": {
      "main": [[{"node": "Prepara Prompt", "type": "main", "index": 0}]]
    },
    "Prepara Prompt": {
      "main": [[{"node": "Claude API", "type": "main", "index": 0}]]
    },
    "Claude API": {
      "main": [[{"node": "Genera Newsletter", "type": "main", "index": 0}]]
    },
    "Genera Newsletter": {
      "main": [[{"node": "Invia Newsletter", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2b3c4d5-0002-4002-8002-000000000099",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "n8n-automation-pack-italia"
  },
  "id": "02-newsletter-aggregator",
  "tags": []
}
