workflows/05-risposta-recensioni-google/workflow.json
{"name":"05 - Risposta Recensioni Google","nodes":[{"id":"node-05-001","name":"Gmail - Nuova Recensione","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[240,300],"parameters":{"filters":{"sender":"noreply-business@google.com"},"simple":false,"options":{}},"credentials":{"gmailOAuth2":{"id":"GMAIL_CREDENTIAL_ID","name":"Gmail OAuth2"}}},{"id":"node-05-002","name":"Prepara Prompt Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"var subject = $input.first().json.subject || '';\nvar bodyText = $input.first().json.text || '';\nvar bodyHtml = $input.first().json.html || '';\nvar emailContent = bodyText || bodyHtml.replace(/<[^>]*>/g, ' ');\nvar prompt = 'Sei il community manager di una PMI italiana. ';\nprompt += 'Hai ricevuto questa notifica email da Google Business Profile per una nuova recensione. ';\nprompt += '1) Estrai dal testo: nome recensore, numero stelle da 1 a 5, testo della recensione. ';\nprompt += '2) Genera una risposta professionale in italiano di 2-4 frasi. ';\nprompt += 'Voto 4-5 stelle: risposta calorosa, cita dettagli del commento, invita a tornare. ';\nprompt += 'Voto 1-3 stelle: empatia, scuse sincere, invito a contattarci offline, mai difensivo. ';\nprompt += 'Rispondi SOLO con un oggetto JSON con quattro campi: autore, stelle, commento, risposta. ';\nprompt += 'CONTENUTO EMAIL: ' + emailContent.substring(0, 3000);\nreturn [{ json: { prompt: prompt, subject: subject } }];"}},{"id":"node-05-003","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"model\": \"claude-sonnet-4-6\", \"max_tokens\": 1024, \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }}}]}","options":{}},"credentials":{"httpHeaderAuth":{"id":"ANTHROPIC_CREDENTIAL_ID","name":"Anthropic API"}}},{"id":"node-05-004","name":"Parse Risposta Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"jsCode":"var claudeRaw = $input.first().json.content[0].text;\nvar subject = $('Gmail - Nuova Recensione').first().json.subject || 'Nuova recensione';\nvar data = {};\ntry {\n  var txt = claudeRaw.trim();\n  var start = txt.indexOf('{');\n  var end = txt.lastIndexOf('}');\n  if (start !== -1 && end !== -1) { txt = txt.substring(start, end + 1); }\n  data = JSON.parse(txt);\n} catch(e) {\n  data = { autore: 'N/A', stelle: 0, commento: claudeRaw, risposta: claudeRaw };\n}\nreturn [{ json: { autore: data.autore || 'N/A', stelle: data.stelle || 0, commento: data.commento || '', risposta: data.risposta || '', subject: subject } }];"}},{"id":"node-05-005","name":"Genera Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300],"parameters":{"jsCode":"var d = $input.first().json;\nvar tipo = (d.stelle >= 4) ? 'POSITIVA' : 'NEGATIVA';\nvar today = new Date().toLocaleDateString('it-IT');\nvar html = '<html><body>';\nhtml += '<h2>Nuova recensione Google - ' + tipo + ' - ' + today + '</h2>';\nhtml += '<table border=1 cellpadding=8>';\nhtml += '<tr><td><b>Recensore</b></td><td>' + d.autore + '</td></tr>';\nhtml += '<tr><td><b>Stelle</b></td><td>' + d.stelle + ' su 5</td></tr>';\nhtml += '<tr><td><b>Commento</b></td><td>' + d.commento + '</td></tr>';\nhtml += '</table>';\nhtml += '<h3>Bozza risposta generata da Claude:</h3>';\nhtml += '<blockquote>' + d.risposta + '</blockquote>';\nhtml += '<p>Copia il testo e incollalo su Google Business Profile per pubblicare la risposta.</p>';\nhtml += '<hr><p><small>n8n Automation Pack Italia - Workflow 05</small></p>';\nhtml += '</body></html>';\nvar subject = 'Recensione Google ' + tipo + ' - ' + d.stelle + ' stelle - ' + d.autore;\nreturn [{ json: { html: html, subject: subject } }];"}},{"id":"node-05-006","name":"Email Notifica Owner","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1340,300],"parameters":{"fromEmail":"noreply@tuazienda.it","toEmail":"owner@tuazienda.it","subject":"={{ $json.subject }}","emailType":"html","html":"={{ $json.html }}","options":{}},"credentials":{"smtp":{"id":"SMTP_CREDENTIAL_ID","name":"SMTP"}}}],"connections":{"Gmail - Nuova Recensione":{"main":[[{"node":"Prepara Prompt Claude","type":"main","index":0}]]},"Prepara Prompt Claude":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Parse Risposta Claude","type":"main","index":0}]]},"Parse Risposta Claude":{"main":[[{"node":"Genera Email HTML","type":"main","index":0}]]},"Genera Email HTML":{"main":[[{"node":"Email Notifica Owner","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}