workflows/05-risposta-recensioni-google/workflow.json
{"name":"05 - Risposta Recensioni Google","nodes":[{"id":"node-05-001","name":"Ogni Giorno 09:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}}},{"id":"node-05-002","name":"GMB - Lista Recensioni","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"method":"GET","url":"https://mybusiness.googleapis.com/v4/accounts/YOUR_ACCOUNT_ID/locations/YOUR_LOCATION_ID/reviews","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"pageSize","value":"50"},{"name":"orderBy","value":"updateTime desc"}]},"options":{}},"credentials":{"oAuth2Api":{"id":"GOOGLE_OAUTH_CREDENTIAL_ID","name":"Google Business OAuth2"}}},{"id":"node-05-003","name":"Filtra Senza Risposta","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"parameters":{"jsCode":"const reviews = $input.first().json.reviews || [];\nconst unanswered = reviews.filter(function(r) { return !r.reviewReply || !r.reviewReply.comment; });\nconst toProcess = unanswered.slice(0, 5);\nreturn [{ json: { count: toProcess.length, reviews: toProcess } }];"}},{"id":"node-05-004","name":"Ci Sono Recensioni?","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-has-reviews","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"node-05-005","name":"Prepara Prompt Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,200],"parameters":{"jsCode":"var data = $input.first().json;\nvar reviews = data.reviews;\nvar reviewsText = '';\nfor (var i = 0; i < reviews.length; i++) {\n  var r = reviews[i];\n  var author = (r.reviewer && r.reviewer.displayName) ? r.reviewer.displayName : 'Anonimo';\n  var comment = r.comment || 'nessun commento';\n  var stars = r.starRating || 'ND';\n  reviewsText += '### RECENSIONE ' + (i+1) + ' | Autore: ' + author + ' | Stelle: ' + stars + ' | Commento: ' + comment + ' ';\n}\nvar prompt = 'Sei il community manager di una PMI italiana. ';\nprompt += 'Genera risposte professionali in italiano per le seguenti recensioni Google. ';\nprompt += 'Voto 4-5 stelle: risposta calorosa e personalizzata, cita dettagli del commento, invita a tornare. ';\nprompt += 'Voto 1-3 stelle: empatia, scuse sincere, offerta di risolvere offline contattandoci, mai difensivo. ';\nprompt += 'Rispondi SOLO con un JSON array valido. Ogni elemento ha i campi indice (numero) e risposta (stringa). ';\nprompt += 'Recensioni da processare: ' + reviewsText;\nreturn [{ json: { prompt: prompt, count: reviews.length, reviews: reviews } }];"}},{"id":"node-05-006","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,200],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"model\": \"claude-sonnet-4-5\", \"max_tokens\": 2048, \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }}}]}","options":{}},"credentials":{"httpHeaderAuth":{"id":"ANTHROPIC_CREDENTIAL_ID","name":"Anthropic API"}}},{"id":"node-05-007","name":"Parse Risposte Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,200],"parameters":{"jsCode":"var claudeRaw = $input.first().json.content[0].text;\nvar reviews = $('Prepara Prompt Claude').first().json.reviews;\nvar risposte = [];\ntry {\n  var txt = claudeRaw.trim();\n  var start = txt.indexOf('[');\n  var end = txt.lastIndexOf(']');\n  if (start !== -1 && end !== -1) { txt = txt.substring(start, end + 1); }\n  risposte = JSON.parse(txt);\n} catch(e) {\n  risposte = [{ indice: 1, risposta: claudeRaw }];\n}\nvar result = [];\nfor (var i = 0; i < risposte.length; i++) {\n  var r = risposte[i];\n  var review = reviews[i] || {};\n  result.push({\n    indice: r.indice || i + 1,\n    autore: (review.reviewer && review.reviewer.displayName) ? review.reviewer.displayName : 'Anonimo',\n    voto: review.starRating || 'ND',\n    commento: review.comment || 'nessun commento',\n    bozza_risposta: r.risposta || ''\n  });\n}\nreturn [{ json: { risposte: result, count: result.length } }];"}},{"id":"node-05-008","name":"Genera Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,200],"parameters":{"jsCode":"var data = $input.first().json;\nvar risposte = data.risposte;\nvar today = new Date().toLocaleDateString('it-IT');\nvar html = '<html><body>';\nhtml += '<h2>Recensioni Google da rispondere - ' + today + '</h2>';\nhtml += '<p>Hai <strong>' + risposte.length + '</strong> nuova/e recensione/i senza risposta. Copia la bozza e incollala su Google Business Profile.</p>';\nfor (var i = 0; i < risposte.length; i++) {\n  var r = risposte[i];\n  var tipo = (r.voto === 'FOUR' || r.voto === 'FIVE') ? 'POSITIVA' : 'NEGATIVA';\n  html += '<hr>';\n  html += '<h3>Recensione ' + r.indice + ' - ' + tipo + ' - ' + r.voto + ' stelle - ' + r.autore + '</h3>';\n  html += '<p><strong>Commento del cliente:</strong> ' + r.commento + '</p>';\n  html += '<p><strong>Bozza risposta generata da Claude:</strong></p>';\n  html += '<blockquote>' + r.bozza_risposta + '</blockquote>';\n}\nhtml += '<hr><p><small>Generato da n8n Automation Pack Italia - Workflow 05</small></p>';\nhtml += '</body></html>';\nvar subject = 'Recensioni Google da rispondere (' + risposte.length + ') - ' + today;\nreturn [{ json: { html: html, subject: subject } }];"}},{"id":"node-05-009","name":"Email Notifica Owner","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2000,200],"parameters":{"fromEmail":"noreply@tuazienda.it","toEmail":"owner@tuazienda.it","subject":"={{ $json.subject }}","emailType":"html","html":"={{ $json.html }}","options":{}},"credentials":{"smtp":{"id":"SMTP_CREDENTIAL_ID","name":"SMTP"}}}],"connections":{"Ogni Giorno 09:00":{"main":[[{"node":"GMB - Lista Recensioni","type":"main","index":0}]]},"GMB - Lista Recensioni":{"main":[[{"node":"Filtra Senza Risposta","type":"main","index":0}]]},"Filtra Senza Risposta":{"main":[[{"node":"Ci Sono Recensioni?","type":"main","index":0}]]},"Ci Sono Recensioni?":{"main":[[{"node":"Prepara Prompt Claude","type":"main","index":0}],[]]},"Prepara Prompt Claude":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Parse Risposte Claude","type":"main","index":0}]]},"Parse Risposte Claude":{"main":[[{"node":"Genera Email HTML","type":"main","index":0}]]},"Genera Email HTML":{"main":[[{"node":"Email Notifica Owner","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}